___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [91]:
#This was my attempt

#def lesser_of_two_evens(a,b):
 #   if a%2 == 0 and b%2 ==0:
  #      if a > b:
   #         return b
    #    elif b > a:
     #       return a
    #elif a%2 != 0 or b%2 != 0:
     #   if a > b:
      #      return a
       # elif b > a:
        #    return b
        
        
#This is what I learned
def lesser_of_two_even(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [92]:
# Check
lesser_of_two_evens(2,4)

2

In [93]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [127]:
#def animal_crackers(text):
#    checklist = text.split()
#    first = checklist[0]
#    second = checklist[1]
#    if first[0] == second[0]:
#        return True
#    elif first[0] != second[0]:
#        return False

#What I learned
def animal_crackers(text):
    checklist = text.lower().split()
    return checklist[0][0] == checklist[1][0]

In [128]:
# Check
animal_crackers('Levelheaded Llama')

True

In [129]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [131]:
#def makes_twenty(n1,n2):
#    if n1 == 20:
#        return True
#    elif n2 == 20:
#        return True
#    elif n1 + n2 == 20:
#        return True
#    else:
#        return False

def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [132]:
# Check
makes_twenty(20,10)

True

In [133]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [134]:
#def old_macdonald(name):
#    result = []
#    count = 0
#    for letter in name:
#        if count == 0:
#            result.append(letter.upper())
#            count +=1
#            continue
#        elif count == 3:
#            result.append(letter.upper())
#            count +=1
#            continue
#        else:
#            result.append(letter.lower())
#            count +=1
#            continue
#        return ''.join(result)
#    print(''.join(result))

def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize()+second_half.capitalize()

In [135]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [136]:
def master_yoda(text):
    result = text.split()
    return ' '.join(result[::-1])

In [137]:
# Check
master_yoda('I am home')

'home am I'

In [138]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [123]:
def almost_there(n):
    check = abs(n-100)
    check2 = abs(n-200)
    if check <=10:
        return True
    elif check2 <=10:
        return True
    else:
        return False

In [124]:
# Check
almost_there(104)

True

In [125]:
# Check
almost_there(150)

False

In [126]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [117]:
def has_33(nums):
    check = False
    for item in nums:
        if item != 3:
            check = False
        elif item == 3:
            if check == True:
                return check
            else:
                check = True

    return False

In [118]:
# Check
has_33([1, 3, 3])

True

In [126]:
# Check
has_33([1, 3, 1, 3,2])

False

In [120]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [133]:
def paper_doll(text):
    result = []
    for letter in text:
        result.append(letter)
        result.append(letter)
        result.append(letter)
    print (''.join(result))

In [134]:
# Check
paper_doll('Hello')

HHHeeellllllooo

In [135]:
# Check
paper_doll('Mississippi')

MMMiiissssssiiissssssiiippppppiii

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [56]:
def blackjack(a,b,c):
    result = a+b+c
    if a == 11:
        result -=10
    if b == 11:
        result -=10
    if c == 11:
        result -=10
    if result <= 21:
        return result
    elif result >21:
        return 'BUST'

In [141]:
# Check
blackjack(5,6,7)

18

In [58]:
# Check
blackjack(9,9,9)

'BUST'

In [59]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [67]:
def summer_69(arr):
    six_nine_check = False
    result = 0
    for num in arr:
        if num == 6:
            six_nine_check = True
        if num == 9:
            six_nine_check = False
        elif six_nine_check == False:
            result += num
    return result

In [68]:
# Check
summer_69([1, 3, 5])

9

In [69]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [70]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [146]:
#def spy_game(nums):
#    check_zed = False
#    check_ned = False
#    check_sev = False
#    check_bw = False
#    for item in nums:
#        if item == 7:
#            check_sev = True
#            if check_zed and check_ned == True:
#                check_bw = True
#        elif item != 0:
#            pass
#        elif item == 0:
#            if check_zed == False:
#                check_zed = True
#            elif check_zed == True:
#                check_ned = True
#    return check_bw

def spy_game(nums):
    code = [0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code)==1

In [147]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [148]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [149]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [150]:
def count_primes(num):
    if num < 2:
        return 0
    primes = [2]
    x = 3
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x+=2
                break
        else:
            primes.append(x)
            x+=2
    print(primes)
    return len(primes)

In [151]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!